@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body {
    background-color: rgb(192, 229, 242); 
},
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

/*.container {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-template-rows: 10rem 10rem 10rem 20rem ;
    height: 0.5rem;
    margin: 0.5rem;

}
.plant {
 border: solid blue 2rem;
}*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
   
}
.plant {
    padding: 2rem;
    width: 7rem; 
}

